body {
    background-color: #EEEEEE;
    color: #3C4858;
    font-weight: 300;
}

.board-logo h3 {
    /*padding: 50px 0 20px 360px;*/
    color: #8B425A;
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    padding: 2% 0 0 10%;
    /*font-weight: 600;*/
    display: flex;
}

.write-btn {
    background-color: ghostwhite;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #8B425A;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    height: 40px;
    /*margin-top: 30px;*/
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 80px;
    /*float: right;*/
    /*margin-right: 140px;*/
    margin: 4% 0 0 47%;
}

.write-btn:hover {
    background-color: rgba(139, 66, 90, 0.75);
    box-shadow: 0px 15px 20px #B7B7B7;
    color: #FFFFFF;
    transform: translateY(-7px);
}


/*.table th {*/
/*    border-top: none !important;*/

/*}*/

/*.table thead th {*/
/*    font-weight: 600 !important;*/
/*}*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.list {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-direction: column;
    margin-top: 50px;
}

table {
    /*position: relative;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-direction: column;*/
    flex-direction: column;
    /*min-width: 0;*/
    /*justify-content: center;*/
    /*word-wrap: break-word;*/
    background-color: #fff;
    /*background-clip: border-box;*/
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.75rem;
    width: 80%;
    /*align-items: ;*/
    /*border-collapse: separate;*/
    /*border-spacing: 0 20px;*/
}
table tr:nth-child(n+2):hover {
    background: #ececec;
}

table th {
    padding: 1rem;
    text-align: center;
    /*width: 1200px;*/
    font-weight: bold;
}

table td {
    padding: 1rem;
    text-align: center;
    /*width: 1200px;*/
}


/*i {*/
/*    cursor: pointer;*/
/*    !*font-size: .8rem;*!*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    display: inline-block;*/
/*    border-radius: 50%;*/
/*    position: relative;*/
/*}*/

/*i:after {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    right: 1px;*/
/*    top: 2px;*/
/*}*/
/*i:before {*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    content: attr(data-title);*/
/*    left: -60%;*/
/*    top: 100%;*/
/*    background: rgba(200,40,40,0.7);*/
/*    padding: .4rem;*/
/*    border-radius: 3px;*/
/*}*/
/*i:hover:before {*/
/*    opacity: 1;*/
/*}*/
/*i.delete:after {*/
/*    content: '탈퇴';*/
/*    color: white;*/
/*    text-align: center;*/

/*}*/

.card__btn {
    /*font-family: 'Jua', sans-serif;*/
    font-size: 13px;
    background-color: rgba(190, 111, 137, 0.88);
    color: white;
    border:none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 25px;
    display: inline-block;
    /*border-radius: 50%;*/
    position: relative
}

.search-form {
    margin: -4% 0 0 68%;
    display: flex;
}

.search-form button {
    position: relative;
    height: 26px;
    right: 48px;
    top: 4px;
}

/* pagination */
.pagination .page-item a {
    align-items: center !important;
    border: 1px solid #DEE2E6 !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 5px -1px rgba(0 0 0 0.09), 0 2px 3px -1px rgba(0 0 0 0.07) !important;
    color: #8392AB !important;
    display: flex !important;
    font-size: 0.875rem !important;
    height: 36px !important;
    justify-content: center !important;
    margin: 0 3px !important;
    width: 36px !important;
}

.pagination a {
    border: 1px solid transparent !important;
    color: #333333 !important;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #8167A9 !important;
    border-color: #8167A9 !important;
    color: white !important;
    cursor: default !important;
}

.pagination {
    margin-top: 150px;
}


/*check box design*/
.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}
.checks input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 21px;  /* 체크박스의 너비를 지정 */
    height: 21px;  /* 체크박스의 높이를 지정 */
    line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */
    content: '\2714';  /* 체크표시 유니코드 사용 */
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    background: #e9ecee;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.small input[type="checkbox"] + label {
    font-size: 12px;
}

.checks.small input[type="checkbox"] + label:before {
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 11px;
}
