/*body{*/
/*    display:flex;*/
/*    justify-content: center;*/
/*}*/

#body_wrap{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 1200px;
    height: 100%;

}

header {
    line-height: 1;
    font-family: 'Jua', sans-serif;
    /*font-family: 'Noto Sans KR', sans-serif;*/
}

#header_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#logo_img{
    width:16%;
}

#header_search{
    display: flex;
    align-items: center;
    margin-top: 19px;
}
.dropdown{
    float: left;
    font-family: 'Jua', sans-serif !important;
    font-family: 'Noto Sans KR', sans-serif !important;
}
/*select_form*/
/* ===== Select Box ===== */
.sel {
    font-size: 0.44rem;
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sel::before {
    position: absolute;
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 1em;
    color: black;
    right: 10px;
    top: calc(45% - 0.5em);
}

.sel.active::before {
    transform: rotateX(-180deg);
}

.sel__placeholder {
    display: block;
    font-family: 'Jua', sans-serif !important;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 2em;
    color: #495057;
    padding: 7px 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
    border-radius: 3px !important;
    box-shadow: 0 2px 7px 0 rgb(169 169 169);
}

.sel__box__options {
    display: list-item;
    font-family: 'Jua', sans-serif !important;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 1.6em;
    color: #495057;
    padding: 0.5em 1em;
    user-select: none;

}

.sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
}

.sel__box__options.selected::after {
    display: inline;
}

.sel__box__options:hover {
    background-color: #EDF0FF;
}

/* ----- Select Box Black Panther ----- */
.sel {
    border-radius: 10px 10px 0 10px;
    border: 1px solid #858585;
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/**************/

.dropdown-menu, .search-toggle option{
    font-size: 13px;
    color: #212121;
    background-color: #fcfaff !important;
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 0 5px 10px 0 rgb(190 190 190) !important;
}

.search-toggle {
    border-radius: 10px 10px 0 10px !important;
    border: 1px solid #858585 !important;
}

.dropdown-menu{
    font-size: 15px !important;
}
.dropdown-item:hover{
    color: #fff !important;
    background-color: #8167a9 !important;
}

.search-form{
    font-family: 'Jua', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

.search-form input, .select-toggle option{
    margin-left: 13px;
    border-radius: 21px;
    width: 248px;
    height: 38px;
    background-color: #ececec;
    border: none;
    padding-left: 11px;

}

.search-form button {
    position: relative;
    height: 26px;
    right: 48px;
    top: -4px;

}

#header_nav{
    margin-top: 19px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#header_nav ul {
    float: left;
    margin-bottom: 0;
}

#header_nav li{
    font-family: 'Jua', sans-serif !important;
    float: left;
    padding-right: 13px;
    letter-spacing: 1px;
}

#header_nav div{
    float: left;
}

.register_btn{
    margin-right: 10px;
    margin-left: 30px;
}

.myPage_btn, .register_btn{
    font-family: 'Jua', sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 7%;
    padding: 7px;
    transition: all 0.3s ease 0s;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 0.5px;


}

.myPage_btn:hover, .register_btn:hover{
    background-color: rgba(139, 66, 90, 0.75);
    box-shadow: 0px 15px 20px #b7b7b7;
    color: #fff;
    transform: translateY(-7px);
}

@media (max-width: 800px) {
    #header_wrap {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

}

/* sub_nav */

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    font-size: 24px;
}

.nav-link {
    color: #495057;
    font-family: 'Jua', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}


.sub_hover {
        color: rgba(139, 66, 90, 0.75);
}

.navbar-nav{
    margin: 0 auto;
}

.navbar-nav li{
    padding-right: 23px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

/* weather */
.widget h1, .widget h2,.widget h3,.widget h4,.widget h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.widget {
    height: 255px;
    width: 120px;
    position: fixed;
    left: 87%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(4px 4px 5px #b7b7b7);
    z-index: 200;

}

.weatherIcon{
    background-color: #EDF0FF;
    height: 70%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.weatherIcon i{
    display: block;
    /*content:"\f002";*/
    color: #818b8d;
    /*font-family: weathericons;*/
    font-size: 53px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.weatherData {
    background-color: #2e3336;
    height: 33%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.widget h1 {
    color: #818b8d;
    font-family: 'Jua', sans-serif;
    font-weight: 200;
    font-size: 1.7em;
    /* line-height: 2.9375em; */
    position: absolute;
    left: 66%;
    top: 87%;
    transform: translate(0, -50%);
}

.widget h2 {
    color: #8f9b9d;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.4em;
    position: absolute;
    top: 13%;
    left: 11%;
}

.widget h3 {
    color: #c5cdcf;
    font-weight: 300;
    font-size: 0.7em;
    line-height: 1.2em;
    position: absolute;
    bottom: 9%;
    left: 11%;
    text-align: left;
}

.widget h4 {
    font-family: 'Jua', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
}

.widget h5 {
    font-family: 'Jua', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 10px;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18px;
    top: 11px;
    border-bottom-right-radius: 10px;
}

/*content*/
#content{
    width: 70%;
    /*display:flex;*/
    /*justify-content: center;*/
    margin: 0 auto;
}

.content_wrap a{
    text-decoration: none;
}

.product_wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 2px 4px 13px #dcdcdc;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 80px;
    /*z-index: 0;*/
}

.product_wrap:first-child{
    margin-top: 80px;

}

.product_img_wrap{
    position: relative;
    z-index: 0;
    height: 200px;
}

.product_img_wrap img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .2s;
}

.product_wrap:hover .product_img_wrap img {
    transform: scale(1.3);
}

.product_wrap:hover .product_detail{
    left: 0;
}

.content_wrap a:hover{
    text-decoration: none;
}

.product_detail{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    width: 100%;
    font-size: 0.9rem;
}

.product_detail li {
    color: #fff;
}

.product_detail li i {
    color: #FFFFFF;
    margin-right: 10px;
}

.product_description{
    background-color: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.product_description h1 {
    line-height: 1;
    font-size: 1.7rem;
}

.product_description h2 {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 5px;
}

.bar {
    position: absolute;
    height: 5px;
    background: #8167a9;
    width: 35px;
    border-radius: 3px;
    margin-top: 5px;
}

.product_description p {
    margin-top: 29px;
    position: relative;
}

.deal{
    float: right;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    background: #8167a9;
    margin: 2rem 0 0;
    border-radius: 20px;
    text-align: center;
    padding-top: 3px;

}



@media (min-width: 640px){
    .product_wrap {
        flex-direction: row;
        max-width: 100%;
    }

    .product_img_wrap{
        flex-basis: 65%;
        height: auto;
    }

    .product_description{
        flex-basis: 90%;
    }

    /*.product_description::before{*/
    /*    transform: skewX(-3deg);*/
    /*    background: #fff;*/
    /*    width: 30px;*/
    /*    position: absolute;*/
    /*    left: -10px;*/
    /*    top: 0;*/
    /*    bottom: 0;*/
    /*    z-index: -1;*/
    /*}*/
}


/*footer*/

footer {
    margin-top: 80px;
    width: 100% !important;
    height: 60px;
    background-color: rgb(46, 51, 54);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;





}

footer p {
    margin: 0;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}



















