/*mypage, login, register*/
img
{
    display : block;
    margin :0 auto;
}

.mypage-logo {
    margin-left: 1000px;
}
.form-group {
    background-color: white;
    /*width: 400px;*/
    /*height: 550px;*/
    border-radius: 60px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#id{
    margin-left: 72px;
}

.form-group form label
{
    display:block;
    text-align:left;
    padding:25px 0 10px 0;
    font-weight:bold;
    margin-left:457px
}

.input
{
    width:300px;
    height:40px;
    border-radius:20px;
    border:1px solid lightgrey;
    background-color:lightgrey;
}

.login_input{
    padding: 15px;

}

.title h1{
    font-family: 'Jua', sans-serif;
    color: #8B425A;
}

#btn1{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    border-radius: 10px;
}
.btn_wrap {
    display: block !important;
}

.btn .button
{
    color:#8B425A;
    background-color: ghostwhite;
    border:none;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn .button:hover {
    background-color: rgba(139, 66, 90, 0.75);
    box-shadow: 0px 15px 20px #b7b7b7;
    color: #fff;
    transform: translateY(-7px);
}


#cancel {
    color: white;
    background-color: #b7b7b7;
}

.edit-btn .button
{
    color:#8B425A;
    background-color: white;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
    border:1px solid #8B425A;
    font-family: 'Jua', sans-serif;
}


#search-btn {
    position: absolute;
    color: #8B425A;
    background-color: white;
    height:35px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    border:1px solid #8B425A;
    margin-left: 5px;
    font-family: 'Jua', sans-serif;
}

label {
    margin-bottom: 0 !important;
}

/*작성한 글*/

#post-group {
    width: 677px;
    margin: 0 auto;
    padding-top: 32px;
    position: relative;
}

.post-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e9ecef;
}

.post-wrap .post {
    width: calc(33% - 16px);
    margin-right: 16px;
}
.post .post-photo {
    width:100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: white;
    box-shadow: inset 0px 0px 0px 1px rgba(0 0 0 0.15);
    box-sizing: border-box;
}
.post .post-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
    border-color: #b7b7b7;
}
.post-desc {
    margin-top: 12px;
}

.post-wrap .post .post-desc .post-title {
    font-size: 16px;
    letter-spacing: -0.02px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}

.post-wrap .post .post-desc .post-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
}

.post-wrap .post .post-desc .post-content {
    font-size: 13px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 50px;
    line-height: 1.5;
}

.post-main h3 {
    font-family: 'Jua', sans-serif;
    color: #8B425A;
    font-size: 30px;
    text-align: left;
    line-height: 1.47;
    letter-spacing: -0.6px;
    font-weight: 600;
    padding: 50px 0 0 200px;
    margin-bottom: 30px;
}