<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고민하지말구, 고구마켓</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/boardList.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon-16x16.png">
    <link rel="icon" href="/assets/images/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- fontawesome  -->
    <script src="https://kit.fontawesome.com/a959489452.js" crossorigin="anonymous"></script>
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <!--weather icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css">

</head>
<body>
<div id="body_wrap">
    <div class="wrapper">
        <!--header-->
        <header>
            <div id="header_wrap">
                <img id="logo_img" src="/assets/images/gogu_logo.png" alt="logo" onclick="location.href='index.html';"
                     style="cursor:pointer;">
                <div id="header_search">
                    <div class="sel sel--black-panther">
                        <select name="select-profession" id="select-profession">
                            <option value="" disabled>게시판</option>
                            <option value="1">상품</option>
                            <option value="2">일상</option>
                            <option value="3">분실·실종</option>
                            <option value="4">반려동물</option>
                        </select>
                    </div>
                    <div class="search-form">
                        <input type="text" name="search" value="Search" onclick="this.value=''; ">
                        <button type="submit" class="btn btn-search fa fa-search"></button>
                    </div>
                </div>
                <div id="header_nav">
                    <ul>
                        <a href="#">
                            <li>상품등록</li>
                        </a>
                        <a href="#">
                            <li>우리동네</li>
                        </a>
                        <a href="#">
                            <li>구마차트</li>
                        </a>
                        <a href="#">
                            <li>공지사항</li>
                        </a>
                    </ul>
                    <a href="#">
                        <div class="register_btn">Register</div>
                    </a>
                    <a href="#">
                        <div class="myPage_btn">My GUMA</div>
                    </a>
                </div>
            </div>
        </header>

        <!-- weather -->
        <article class="widget">
            <div class="weatherIcon">
                <div class="date">
                    <h4 class="month" id="month"></h4>
                    <h5 class="day" id="day"></h5>
                </div>
                <!--        <i class="wi wi-night-fog"></i>-->
                <h1 id="temp" class="temperature">25&deg;</h1>
            </div>
            <div class="weatherData">
                <h2 class="description">오늘,<br> 우리 동네는</h2>
                <h3 class="city" id="comment">KR, Seochodong</h3>
            </div>

        </article>

        <!--content-->
<div class="board-logo">
    <h3>맛있구마</h3>
</div>
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                    <th>
                        번호
                    </th>
                    <th>
                        제목
                    </th>
                    <th>
                        작성자
                    </th>
                    <th>
                        작성일
                    </th>
                    <th>
                        조회수
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Dakota Rice
                        </td>
                        <td>
                            Niger
                        </td>
                        <td>
                            Oud-Turnhout
                        </td>
                        <td>
                            $36,738
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Minerva Hooper
                        </td>
                        <td>
                            Curaçao
                        </td>
                        <td>
                            Sinaai-Waas
                        </td>
                        <td>
                            $23,789
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Sage Rodriguez
                        </td>
                        <td>
                            Netherlands
                        </td>
                        <td>
                            Baileux
                        </td>
                        <td>
                            $56,142
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            Philip Chaney
                        </td>
                        <td>
                            Korea, South
                        </td>
                        <td>
                            Overland Park
                        </td>
                        <td>
                            $38,735
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            Doris Greene
                        </td>
                        <td>
                            Malawi
                        </td>
                        <td>
                            Feldkirchen in Kärnten
                        </td>
                        <td>
                            $63,542
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                            Mason Porter
                        </td>
                        <td>
                            Chile
                        </td>
                        <td>
                            Gloucester
                        </td>
                        <td>
                            $78,615
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#">></a>
        </li>
    </ul>
</nav>
    </div>
</div>
<footer>
    <p>Copyright © 2021 chicken 4JO. All rights reserved.</p>
</footer>
<!-- bootstrap4 -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
</body>
<!--bootstrp js-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--image js-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"></script>

<script src="/assets/js/productContent.js"></script>
<script src="/assets/js/main.js"></script>
</html>